.banner_imgs{
    width: 100%;
    height: 364px;
    background: url(../Img/tor_movie.png) no-repeat center / cover;
}

.back_div{
    width: 100%;
    height: 313px;
}

.fa-chevron-left{
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}

.fa-play-circle{
    font-size: 32px;
    color: white;
    margin-left: 11px;
    
}

.all_icon{
    padding-right: 10px;
}

.icons_movie{
    flex-wrap: wrap;
}

.fa-film{
    font-size: 29px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    margin-right: 10px;
}
.fa-film:hover{
    font-size: 28px;
    color: rgb(255, 0, 0);
}
.fa-arrow-alt-circle-down{
    font-size: 28px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.fa-arrow-alt-circle-down:hover{
    font-size: 28px;
    color: rgb(255, 0, 0);
}

.fa-telegram-plane{
    font-size: 18px;
    color: white;
}

.movie_text{
width: 100%;
height: 800px;
background: rgb(0, 0, 0);    
}

.text_movie{
    color: white;
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
        color: white;
        font-size: 11px;
        margin-left: 25px;
}
.title_1{
    color: white;
    font-size: 11px;
    margin-left: 10px;
}

.movie_coment{
    color: white;
    font-size: 11px;
}

p{
    margin-bottom: 0px !important;
}

.more_movie{
    width: 100%;
    height: 45px;
    background: black;
}

.movie_title{
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.img_more{
    width: 100%;
}
/*************************media**************************/

@media(max-width: 350px){
    .back_div {
        width: 100%;
        height: 245px;
    }
    .fa-chevron-left {
        font-size: 20px;
        color: white;
        margin-left: 17px;
        margin-top: 14px;
    }
    .fa-play-circle {
        font-size: 41px;
        color: white;
        margin-left: 11px;
        padding-left: 10px;
    }
    .fa-film {
        font-size: 24px;
        color: rgb(0, 0, 0);
        transition: 0.5s;
        margin-right: 3px;
        margin-top: 10px;
    }
    .fa-arrow-alt-circle-down {
        font-size: 24px;
        color: rgb(0, 0, 0);
        transition: 0.5s;
        margin-right: 31px;
        margin-top: 10px;
    }
    .banner_imgs {
        width: 100%;
        height: 295px;
        background: url(../Img/tor_movie.png) no-repeat center / cover;
    }
    .movie_text {
        width: 100%;
        height: 500px;
        background: rgb(0, 0, 0);
    }
    .movie_coment {
        color: white;
        font-size: 11px;
        padding: 10px 10px 10px 10px;
}
.movie_title {
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-left: 10px;
}
}